* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ee79fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ab58ce;
  border-radius: 30px;
  width: 400px;
  padding: 40px;
  box-shadow: -16px 40px 47px 0px #ab58ce60;
}

/* Stylin the profile image  */

.profile__img {
  background-color: #eee;
  width: 65px;
  height: 62px;
  border-radius: 50%;
  text-align: center;
}

.profile__img img {
  width: 60px;
}

/* Stylin to the proficiency title */

.proficiency {
  margin-top: 30px;
}

.proficiency h4 {
  color: rgba(255, 255, 255, 0.637);
  font-weight: normal;
}

/* Styling to the fname and lname users */

.fname__lname {
  margin-top: 10px;
}

.fname__lname h1 {
  color: rgba(238, 238, 238, 0.89);
}

/* Styling to the description section */

.description {
  margin-top: 10px;
}

.description p {
  color: rgba(255, 255, 255, 0.637);
  font-size: 14px;
}

/* Stylin to the proficiency icons */
.icons {
  display: flex;
  margin-top: 20px;
}
.icons div {
  width: 50px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.icons img {
  width: 20px;
}
